<div class="flex w-full items-center justify-center">
  <div class="grid w-[80%] grid-cols-4">
    <div *ngFor="let item of event" class="card bg-base-100 w-96 shadow-xl">
      <figure class="px-10 pt-10">
        <img
          src="assets/img/news/{{item.src}}"
          alt="Shoes"
          class="rounded-xl" />
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title">{{item.name}}</h2>
        <p>{{item.content}}</p>
        <div class="card-actions justify-end">
          <div class="badge badge-primary">{{item.type}}</div>
          <div class="badge badge-accent">{{item.tag}}</div>
        </div>
        <div class="card-actions pt-5">
          <button class="btn btn-primary">Participer</button>
        </div>
      </div>
    </div>
  </div>
</div>
