<div class="flex w-full items-center justify-center">
  <div class="grid w-[80%] grid-cols-4">
    <div class="card bg-base-100 w-96 shadow-xl">
      <figure class="px-10 pt-10">
        <img
          src="assets/img/event/1.jpg"
          alt="Shoes"
          class="rounded-xl" />
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <div class="badge badge-primary">Fashion</div>
          <div class="badge badge-accent">Products</div>
        </div>
        <div class="card-actions pt-5">
          <button class="btn btn-primary">Participer</button>
        </div>
      </div>
    </div>
  </div>
</div>
