<ul class="grid gap-4 md:grid-cols-4">
  <li *ngFor="let user of users">
    <div class="card-bordered card">
      <figure>
        <a routerLink="/profile/{{ user.id }}">
          <img
            src="{{ user.avatar }}"
            alt="Avatar de {{ user.firstName }} {{ user.lastName }}"
            class="mask mask-square max-w-52 max-h-52" />
        </a>
      </figure>
      <div class="card-body">
        <a
          class="card-title block overflow-hidden text-ellipsis"
          routerLink="/profile/{{ user.id }}">
          {{ user.firstName }} {{ user.lastName | uppercase }}
        </a>
      </div>
    </div>
  </li>
</ul>
